#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.wrapDiv {
  background: rgb(255, 240, 222);
  border-radius: 30px;
  padding: 20px;
  border: 1px solid black;
}

.loginForm {
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 5px;
  column-gap: 5px;
}

.loginTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

.submit {
  grid-column-start: 1;
  grid-column-end: 3;
  width: max-content;
  justify-self: right;
}

.titleDiv {
  display: grid;
  grid-template-columns: max-content auto;
}

.logoutButton {
  justify-self: right;
  align-self: center;
  height: max-content;
  padding: 5px;
}

/* Table */
.ticker_table {
  /* background-color: #73d5e8;
  background-color: #8cc9f8; */
  box-sizing: border-box;
  text-align: center;
}
.ticker_table_row,
.ticker_table_header {
  display: grid;
  grid-template-columns: repeat(2, 1fr) max-content;
}
.ticker_table_header {
  font-weight: bold;
  font-size: large;
}
.ticker_table_row .symbol,
.ticker_table_row .price {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.ticker_table_endRow {
  justify-content: right;
}
